<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/icons8-хвойное-дерево-16.png">
    <title>БОРОВ</title>
</head>
<body>
  <header class="header">
    <div class="navbar_links">
      <button>Главная</button>
      <button>Стать Дэбилом</button>
      <button>Отправиться под столик</button>
      <img class="navbar_logo" src="static/images/lesopilka_logo.jpeg" alt="" >
    </div>
  </header>
<main class="main">
  <section class="main_back_1">
    <div class="container">
      <div class="info">
        <h1>Продажа светильников оптом из Китая от поставщика</h1>
      </div>
    </div>
  </section>
  <section class="main_back_3">
    <div class="container">
      <div class="about">
        <div class="benefits">
          <h3>Наши преимущества:</h3>
          <ul>
            <li>Низкие цены.</li>
            <li>Только сертифицированная продукция.</li>
            <li>Прямой поставщик из Китая.</li>
            <li>Предоставляем полный пакет документов на товар.</li>
          </ul>
        </div>
      </div>      
    </div>
  </section>
  <section class="main_back_1">
    <div class="container">
    <div class="card_place">
    <div class="card">
      <div class="card_img">
        <img src="static/images/battle-fury.jpg" alt="">
      </div>
      <div class="card_description">
        Battle Fury
      </div>
      <div class="card_block">
        <div class="card_price">
        4700
      </div>
        <img src="static/images/gold-icon-reborn.png" alt="" width="30" height="40">
      </div>
    </div>
    <div class="card">
      <div class="card_img">
        <img src="static/images/tango.jpg" alt="">
      </div>
      <div class="card_description">
        Tango
      </div>
      <div class="card_block">
        <div class="card_price">
        120
      </div>
        <img src="static/images/gold-icon-reborn.png" alt="" width="30" height="40">
      </div>
    </div>
    <div class="card">
      <div class="card_img">
        <img src="static/images/pudge.jpg" alt="">
      </div>
      <div class="card_description">
        Pudge
      </div>
      <div class="card_block">
        <div class="card_price">
        2
      </div>
        <img src="static/images/pudge.jpg" alt="" width="40" height="30">
      </div>
    </div>
    </div>
  </div>
  </section>
  <section class="main_back_2">
    <div class="container">
      <div class="recall">
        <form class="forest_form" method="POST" action="/">
          <p>Мы Вам перезвоним!</p>
          <input type="tel" name="phone" id="0" placeholder="+7 (XXX) XXX-XX-XX">
          <p>Или</p>
          <input type="email" name="email" id="1" placeholder="python2025@gmail.com">
          <input type="submit" value="сабмит" >
        </form>
      </div>
    </div>
  </section>
  <div class="dynamic">
    <div class="container">
      <div class="dynamic_wrapper">
        {{ ss }}
        <br>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <small>А тут у нас находится футер с каким-то длинным текстом, лицензиями, ссылками и самой главной ссылочкой - на гитхаб автора данной веб-странички (<a href="https://github.com/kick-depo">жмите вот сюда</a>) магазина светильников. Возьмите его пожалуйста на какую-нибудь работу в IT, не обязательно Джуном, можно сразу Middle</small>
  </div>
</footer>
<!-- <script>
  document.querySelector(".forest_form").addEventListener("submit", (event) => {event.preventDefault()})r
</script> -->
</body>
</html>